<div class="row">
    <div class="col-md-12">
        <h2>
            Employees
            <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a>
        </h2>
          <hr />
          <div class="table-responsive">
              <table class="table-responsive table w-auto">
                <thead>
                    <th>Employee Num</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Manager ID</th>
                    <th>Status</th>
                    <th>Department</th>
                    <th>Hired On</th>
                    <th></th>
                </thead>
                <tbody>
                {{#each employees}}
                <tr>
                    <td>{{this.employeeNum}}</td>
                    <td><a href="/employee/{{this.employeeNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                    <td><a href="mailto:{{this.Email}}">{{this.Email}}</a></td>
                    <td>{{this.addressStreet}} {{this.addressCity}} {{this.addressState}} {{this.addressPostal}}</td>
                    <td><a href="/employees?manager={{this.employeeManagerNum}}">{{this.employeeManagerNum}}</a></td>
                    <td><a href="/employees?status={{this.Status}}">{{this.Status}}</a></td>
                    <td><a href="/employees?department={{this.department}}">{{this.department}}</a></td>
                    <td>{{this.hireDate}}</td>
                    <td><a href="/employees/delete/{{this.employeeNum}}" class="btn btn-danger">remove</a></td>
                </tr>
                {{/each}}
                </tbody>
              </table>
          </div>
          {{#unless employees}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
            {{/unless}}
    </div>
</div>
